<section class="containar d-flex justify-content-center p-3">
  <div class="col-5 border border-5 shadow p-5">
    <h1 class="border-bottom border-info">マイページ <%= link_to "編集する", customers_information_edit_path,class:"btn btn-success m-2" %></h1>
    <p class="pt-3"><氏名> <%= @customer.last_name %> <%= @customer.first_name %></p>
    <p><フリガナ> <%= @customer.last_name_kana %> <%= @customer.first_name_kana %></p>
    <p><生年月日> <%= @customer.birthday.strftime('%Y年%m月%d日') %></p>
    <p><年齢>　<%= (Date.today.strftime('%Y%m%d').to_i - @customer.birthday.strftime('%Y%m%d').to_i)/10000 %>歳</p>
    <p><郵便番号> <%= @customer.postal_code %></p>
    <p><住所> <%= @customer.address %></p>
    <p><電話番号> <%= @customer.telephone_number %></p>
    <p><メールアドレス> <%= @customer.email %></p>
  </div>
</section>