<section class="containar d-flex justify-content-center p-3">
  <div class="col-5 border border-5 shadow p-5">
    <%= form_with model:@item, url:admin_items_path do |f| %>
     <h1 class="border-bottom border-info mb-3">商品新規登録</h1>
     <p><商品画像></p>
     <%= f.file_field :image, accept: "image/*" %>
     <p><商品名></p>
     <%= f.text_field :name,class:"form-control" %>
     <p><商品説明></p>
     <%= f.text_area :introduction,class:"form-control" %>
     <p><ジャンル></p>
     <div class="select_field">
      <%= f.collection_select :genre_id, Genre.all, :id, :name %>
     </div>
     <p><税抜価格></p>
    　<p><%= f.number_field :price,class:"form-control" %>円</p>

    　<%= f.submit "新規登録", class:"btn btn-success shadow" %>
     <% end %>
  </div>
 </section>