<div class="container d-flex justify-content-center p-3">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h2 class="border-bottom border-info pt-3">管理者ログイン</h2>
    <div class="field pt-3">
      <%= f.label :"メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control m-3" %>
    </div>

    <div class="field">
      <%= f.label :"パスワード" %><br />
      <%= f.password_field :password, autocomplete: "current-password",class:"form-control m-3" %>
    </div>


    <div class="actions">
      <%= f.submit "ログイン", class:"btn btn-success shadow m-5" %>
    </div>
  <% end %>
</div>