<section class="containar d-flex justify-content-center p-3">
  <div class="col-5  border border-5 shadow p-5">
    <%= form_with model: @customer, url:  admin_customer_path do |f| %>
    <h1 class="border-bottom border-info"><%= @customer.full_name %> さんの会員情報編集</h1>
    <p class="pt-3"><会員ID> <%= @customer.id %></p>
    <div class="input-group m-3">
        <氏名>  <%= f.text_field :last_name, autofocus: true, id:"inputLastName",class:"form-control m-3" %>
              <%= f.text_field :first_name, autofocus: true, id:"inputFirstName",class:"form-control m-3"%>
     </div>
     <div class="input-group m-3 ">
       <フリガナ> <%= f.text_field :last_name_kana, autofocus: true, id:"inputLastNameKana",class:"form-control m-3" %>
                <%= f.text_field :first_name_kana, autofocus:true, id:"inputFirstNameKana",class:"form-control m-3" %>
     </div>
     <p><生年月日> <%= f.date_select :birthday, {start_year:1950, end_year:2020,
                  include_blank: true, use_two_digit_numbers: true},class:"btn btn-outline-dark" %></p>

      <p><郵便番号> <%= f.text_field :postal_code, autofocus: true, id:"inputPostalCode",class:"form-control m-3" %></p>

      <p>住所 <%= f.text_field :address, autofocus: true, id:"inputAddress",class:"form-control m-3" %></p>

      <p>電話番号 <%= f.text_field :telephone_number, autofocus: true, id:"inputTelephoneNumber",class:"form-control m-3" %></p>

      <p>メールアドレス <%= f.email_field :email, autofocus: true, id:"inputEmail",class:"form-control m-3" %></p>

      <p><div>
        <%= f.radio_button :is_active, true, cheched:@customer.is_active == true, id: 'status-active' %>
        <%= f.label :is_active, '有効', for: 'status-active' %>
      </div>
      <div>
        <%= f.radio_button :is_active, false, cheched:@customer.is_active == false, id: 'status-deleted' %>
        <%= f.label :is_active, '退会済み', for: 'status-deleted' %>
      </div></p>

      <%= f.submit "変更を保存", class:"btn btn-success shadow" %>
    <% end %>
  </div>
</section>