<h1>注文履歴詳細</h1>

<p>注文日 <%= @order.created_at.strftime('%Y/%m/%d') %></p>
<p>配送先 <%= @order.postal_code %><br>
          <%= @order.address %><br>
          <%= @order.name %>
</p>
<p>支払方法 <%= @order.payment_method_i18n %></p>
<p>配送状況 <%= @order.status_i18n %></p>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @order_items.each do |order_item| %>
    <tr>
      <td><%= order_item.item.name %></td>
      <td><%= order_item.with_tax_price %>円</td>
      <td><%= order_item.amount %>個</td>
      <td><%= order_item.with_tax_price*order_item.amount %>円</td>
    </tr>
  </tbody>
    <% @sum += order_item.with_tax_price*order_item.amount %>
    <% end %>
</table>

<p>請求情報</p>
<p>商品合計<%= @sum %>円</p>
<p>配送料<%=  @order.postage %>円</p>
<p>請求金額<%= @sum + @order.postage %>円</p>