<!DOCTYPE html>
<html>
  <head>
    <title>TokumaruSyouten</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/e95088da69.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-right" style="background-color: #e3f2fd;">
        <div class="container">
          <strong class="navbar-brand p-3"><%= link_to "トクマル商店", (admin_signed_in? ? admin_path : root_path ), class: "logo" %></strong>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if customer_signed_in? %>
              <p class="mr-5">ようこそ<%= current_customer.full_name %>様 ! </p>
              <li class="nav-item">
                <%= link_to "商品一覧", root_path, class:"btn btn-info m-1" %>
              </li>
              <li class="nav_item">
                <%= link_to "注文一覧", orders_path, class:"btn btn-info m-1" %>
              </li>
              <li class="nav-item">
                <%= link_to "マイページ", customers_my_page_path, class:"btn btn-info m-1" %>
              </li>
              <li class="nab-item">
                <%= link_to "カート", cart_items_path, class:"btn btn-info m-1" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"btn btn-info m-1" %>
              </li>
              <% elsif admin_signed_in? %>
              <p class="mr-5">ようこそ管理者様 ! </p>
              <li class="nav-item">
                <%= link_to "商品一覧", admin_items_path, class:"btn btn-info m-1" %>
              </li>
              <li class="nav-item">
                <%= link_to "会員一覧", admin_customers_path, class:"btn btn-info m-1" %>
              </li>
              <li class="nav-item">
                <%= link_to "注文一覧", admin_path, class:"btn btn-info m-1" %>
               </li>
              <li class="nav-item">
                <%= link_to "安否確認", admin_customers_safety_path, class:"btn btn-info m-1" %>
              </li>
              <li class="nav-item">
                <%= link_to "ジャンル一覧", admin_genres_path, class:"btn btn-info m-1" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"btn btn-info m-1" %>
              </li>
              <% else %>
              <li class="nav-item">
                <%= link_to "商品一覧", root_path, class:"btn btn-info m-1" %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", new_customer_registration_path, class:"btn btn-info m-1" %>
               </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_customer_session_path, class:"btn btn-info m-1" %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
   <main class="mb-auto">
    <%= yield %>
   </main>
  </body>
</html>
